.file.blue {
  --color: #61dafb;
}

.file.yellow {
  --color: #ffcf42;
}

.file.green {
  --color: #6eff6e;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  animation: popIn 200ms;
  transition: box-shadow 50ms, transform 50ms;
}

@keyframes popIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.file:hover {
  transform: scale(1.05);
}

.file:focus {
  box-shadow: 0 0 3pt 2pt var(--color);
}

.file-icon-container {
  margin-top: 5px;
  height: 80px;
  width: 60px;
  position: relative;
}

.file-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: var(--color);
}

.progress-bar {
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 5px;
  width: calc(100% - 4px);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.progress-bar-inner {
  position: absolute;
  background-color: white;
  height: 5px;
  transition: width 50ms;
}

.file-name {
  margin: 5px;
  padding: 0;
  font-size: 16px;
  width: 100px;
  word-break: break-all;
  text-align: center;
}

.file-delete {
  font-size: 20px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  left: -8px;
  top: -8px;
  transition: opacity 50ms;
  cursor: pointer;
  opacity: 0;
}

.file:hover .file-delete {
  opacity: 1;
}

.x-icon {
  position: absolute;
  left: 5px;
  top: -4px;
  user-select: none;
}
